.nav-menu {
  width: 250px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #262626;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000000;
  z-index: 10;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 0;
}

.nav-item img {
  width: 24px;
  height: 24px;
}

.item-title {
  font-size: 14px;
  color: white;
}
